.about{
    margin-left: 45%;
    font-size: 30px;
    color: red;
    margin-top: 50px;
}
.nope{
    font-size: 30px;
    margin-top: 6%;
    margin-left: 5%;
}
.thee{
    margin-top: 6%;
    margin-left: 5%;
}
.space{
    margin-top: 2%;
}
.ims{
    margin-top: 5%;
}
.pay{
    margin-left: 5%;
    margin-top: 6%;
}
.photo{
    margin-top: 2%;
}
.choo{
    margin-top: 5%;
}
.crea{
    margin-top: 6%;
    margin-left: 5%;
}
.IQ{
    margin-top: 2%;
}
.boo{
    margin-top: 6%;
}
.pert{
    margin-left: 5%;
    margin-top: 6%;
}
.boy{
    margin-top: 2%;
}
.uiux{
    margin-top: 5%;
}
.fan{
    margin-left: 5%;
    margin-top: 6%;
}
.kuru{
    margin-top: 2%;
}
.omoo{
    margin-top: 5%;
}
.page{
    margin-top: 5%;
    margin-left: 5%;
}
.kany{
    margin-top: 2%;
}
.all{
    margin-top: 6%;
}
.prop{
    margin-left: 5%;
    margin-top: 6%;
}
.desi{
    margin-top: 2%;
}
.top{
    margin-top: 6%;
}
.gra{
    margin-left: 5%;
    margin-top: 6%;
}
.best{
    margin-top: 2%;
}
.web{
    margin-top: 5%;
}